<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Home page</h1>
    </header>
    <main>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut pellentesque sapien. Donec
         id pellentesque sem. Praesent vel urna vitae odio hendrerit malesuada et nec enim. Nulla risus dui,
        </p>
        <form action="/" method="POST">
            <input type="text" name="text" value="azaze">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>