<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Home page</h1>
    </header>
    <main>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut pellentesque sapien. Donec
         id pellentesque sem. Praesent vel urna vitae odio hendrerit malesuada et nec enim. Nulla risus dui,
          laoreet in lacus viverra, cursus ornare ante. Pellentesque dignissim velit lorem, a efficitur tellus
           tincidunt a. Donec placerat ipsum lacus, pellentesque tempor ex sagittis mollis. In pretium dolor eget 
           faucibus maximus. Curabitur tristique id felis non mollis. Pellentesque elit nunc, cursus nec quam at, 
           maximus ullamcorper lacus. Curabitur in vulputate sapien. Aenean gravida, ante vitae pellentesque pellen
           tesque, lorem tortor hendrerit nisl, in cursus diam metus vitae quam. Etiam varius nulla eu ex varius, at
            placerat urna sagittis.

            Nunc consequat semper commodo. Ut pellentesque laoreet auctor. Fusce accumsan rhoncus orci, id euismod dui b
            landit ut.
            Phasellus tempus fermentum mattis. Etiam at posuere felis. Duis nisi lectus, efficitur at lacus non, faucibus posu
            ere ante. Maecenas consequat turpis eget quam eleifend tincidunt.
        </p>
    </main>
</body>
</html>